# Importing Pandas to the Notebook

In [1]:
import pandas as pd

# Reading Data

In [5]:
# https://www.kaggle.com/competitions/playground-series-s4e2/data?select=train.csv

In [9]:
# You can use above URL address to download dataset
# df equals data frame
# use r'URL\file-name.csv' to read the file
df = pd.read_csv(r'C:\Users\Darab Store\Desktop\ML-projects\Git-Hub\Tutorials\pandas\Hands-on Pandas for Beginners\obesity\train.csv')

In [11]:
# use .head() method to show top 5 rows
df.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,Male,24.443011,1.699998,81.669950,yes,yes,2.000000,2.983297,Sometimes,no,2.763573,no,0.000000,0.976473,Sometimes,Public_Transportation,Overweight_Level_II
1,1,Female,18.000000,1.560000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight
2,2,Female,18.000000,1.711460,50.165754,yes,yes,1.880534,1.411685,Sometimes,no,1.910378,no,0.866045,1.673584,no,Public_Transportation,Insufficient_Weight
3,3,Female,20.952737,1.710730,131.274851,yes,yes,3.000000,3.000000,Sometimes,no,1.674061,no,1.467863,0.780199,Sometimes,Public_Transportation,Obesity_Type_III
4,4,Male,31.641081,1.914186,93.798055,yes,yes,2.679664,1.971472,Sometimes,no,1.979848,no,1.967973,0.931721,Sometimes,Public_Transportation,Overweight_Level_II

In [13]:
# use .tail() method to show last 5 rows
df.tail()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
20753,20753,Male,25.137087,1.766626,114.187096,yes,yes,2.919584,3.000000,Sometimes,no,2.151809,no,1.330519,0.196680,Sometimes,Public_Transportation,Obesity_Type_II
20754,20754,Male,18.000000,1.710000,50.000000,no,yes,3.000000,4.000000,Frequently,no,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
20755,20755,Male,20.101026,1.819557,105.580491,yes,yes,2.407817,3.000000,Sometimes,no,2.000000,no,1.158040,1.198439,no,Public_Transportation,Obesity_Type_II
20756,20756,Male,33.852953,1.700000,83.520113,yes,yes,2.671238,1.971472,Sometimes,no,2.144838,no,0.000000,0.973834,no,Automobile,Overweight_Level_II
20757,20757,Male,26.680376,1.816547,118.134898,yes,yes,3.000000,3.000000,Sometimes,no,2.003563,no,0.684487,0.713823,Sometimes,Public_Transportation,Obesity_Type_II

# Creating data frame

In [89]:
data = {
    'Name@':['Sarah', 'Michael', 'Jason', 'Maryam'],
    'A_ge':[18, 22, 36, 21],
    'Ci ty':['California', 'LosAngles', 'New York', 'LosAngles']
}

data = pd.DataFrame(data)
data

     Name@  A_ge       Ci ty
0    Sarah    18  California
1  Michael    22   LosAngles
2    Jason    36    New York
3   Maryam    21   LosAngles

# Changing Columns Name

In [16]:
# use .columns attribute to show name of the columns in a list
df.columns

Index(['id', 'Gender', 'Age', 'Height', 'Weight',
       'family_history_with_overweight', 'FAVC', 'FCVC', 'NCP', 'CAEC',
       'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS', 'NObeyesdad'],
      dtype='object')

In [20]:
# Method 1: use a list to change column names manually 
new_cols = ['id', 'gender', 'age', 'height', 'weight', 'family_history_with_overweight', 'favc', 'fcvc', 'ncp', 'caec', 'smoke',
           'ch2o', 'scc', 'faf', 'tue', 'calc', 'mtrans', 'nobeyesdad']

df.columns = new_cols
df.columns

Index(['id', 'gender', 'age', 'height', 'weight',
       'family_history_with_overweight', 'favc', 'fcvc', 'ncp', 'caec',
       'smoke', 'ch2o', 'scc', 'faf', 'tue', 'calc', 'mtrans', 'nobeyesdad'],
      dtype='object')

In [32]:
# Method 2: use .str.lower() to change the column names into small letters
df.columns = df.columns.str.lower()
df.columns

Index(['id', 'gender', 'age', 'height', 'weight',
       'family_history_with_overweight', 'favc', 'fcvc', 'ncp', 'caec',
       'smoke', 'ch2o', 'scc', 'faf', 'tue', 'calc', 'mtrans', 'nobeyesdad'],
      dtype='object')

In [34]:
# Method 3: use .str.upper() to change the column names into capital letters
df.columns = df.columns.str.upper()
df.columns

Index(['ID', 'GENDER', 'AGE', 'HEIGHT', 'WEIGHT',
       'FAMILY_HISTORY_WITH_OVERWEIGHT', 'FAVC', 'FCVC', 'NCP', 'CAEC',
       'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS', 'NOBEYESDAD'],
      dtype='object')

In [36]:
# Method 4: use .str.replace('x', 'y') to replace x letters in the column names with the letter 'y'
df.columns = df.columns.str.replace('I', 'P')
df.columns

Index(['PD', 'GENDER', 'AGE', 'HEPGHT', 'WEPGHT',
       'FAMPLY_HPSTORY_WPTH_OVERWEPGHT', 'FAVC', 'FCVC', 'NCP', 'CAEC',
       'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS', 'NOBEYESDAD'],
      dtype='object')

In [91]:
# remove non-alphanumeric characters
# ^a-zA-Z0-9_ means not include s-zA-Z0-9_ characters
# regex=True when a group of letters will be replace with specific letter
data.columns = data.columns.str.replace(r'[^a-zA-Z0-9_]', '',regex=True )
data.columns

Index(['Name', 'A_ge', 'City'], dtype='object')

In [93]:
data.columns = data.columns.str.replace(r'[^a-zA-Z0-9]', '',regex=True )
data.columns

Index(['Name', 'Age', 'City'], dtype='object')

In [95]:
# just replace a to X when case=True
data.columns = data.columns.str.replace('a', 'X', case=True)
data.columns

Index(['NXme', 'Age', 'City'], dtype='object')

In [97]:
# replace a, A to X when case=False
data.columns = data.columns.str.replace('a', 'X', case=False)
data.columns

Index(['NXme', 'Xge', 'City'], dtype='object')